<html>
<head>
    <link rel="stylesheet" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="webjars/jquery/3.2.1/jquery.js"></script>
    <script src="js/documents.js"></script>
</head>
<body>
<div class="container">
    <div class="row mt-4"></div>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="errorInputField">
        </div>
        <button type="button" id="checkError" class="btn btn-primary">Submit</button>
    </form>
    <div class="row mt-4"></div>
    <table class="table" id="userTable">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
        </tr>
        </thead>
        <tbody id="userTableBody">
        </tbody>
    </table>
</div>
</body>
</html>